h1{
    text-align: left;
    font: Bold 34px/36px 'Montserrat', sans-serif ;
    color: #000000;
    margin-left: 30px;
}

.CardapioSearch{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 30px 30px 0;
}

.SearchBar{
    width: 250px;
    height: 28px;
    border-radius: 23px;
    border: 1px solid #000000;
    opacity: 1;
    background: #FFFFFFE6 0% 0% no-repeat padding-box;
    background-image: url("lupa.png");
    background-size: 23px;
    background-position: 95% 20%;
}