#footer {
    position: relative;
    top: 550px;
    left: 0;
    bottom: 0;
    height:50px ;
    width: 100%;
    background-color:#F9C202;
    color: black;
    font-weight: bold;
    text-align: center;
  }